@using WorkTime.Web.Services
@inject UserInformation UserInfo
@inject ProjectInformation ProjectInfo
@model IEnumerable<WorkTime.Models.WorkTask>

@{
    ViewData["Title"] = "Список задач";
}

<h1>Список задач</h1>

<p>
    <a type="button" class="btn btn-primary" asp-action="Create">Создать задачу</a>
</p>
@{
    /*
    <table class="table">
            <thead>
                <tr>
            <th>
            Название задачи
                </th>
            <td>
            Исполнитель
                </td>
            <th>
            Статус задачи
                </th>
            <th>
            Проект
        </th>
    <th></th>
    </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
                {
                    <tr id="@item.Id">
                    <td>
                    @Html.DisplayFor(modelItem => item.TaskName)
                    </td>
                    <td>
                    @UserInfo.GetName(item.PerformerId)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.TaskStatus.Name)
                    </td>
                    <td>
                    @ProjectInfo.GetName(item.ProjectId)
                    </td>
                    <td>
                    <a type="button" title="Редактировать" asp-action="Edit" asp-route-id="@item.Id"><i class='bx bxs-edit'></i></a> |
                    <a type="button" title="Информация о задаче" asp-action="Details" asp-route-id="@item.Id"><i class='bx bxs-detail'></i></a> |
                    <a type="button" title="Удалить" onclick="deleteTask('@item.Id', '@item.TaskName')" href="#"><i class='bx bxs-trash'></i></a>
    </td>
                </tr>
            }
    </tbody>
    </table>
    */
}
<div class="container-fluid">
    <div class="pb-3" id="card-cont" style="white-space: nowrap; overflow-x: auto;">
        <div hidden id="arrow-slide-right" style="position:absolute; top:50%; left: 90%; z-index:999">roflan</div>
        <div hidden id="arrow-slide-left" style="position:absolute; top:50%; left: 90%; z-index:999">roflan</div>
        <div class="task-column mx-3 d-inline-block task-column-formed" style="float: none">
            <div class="column-head">
                <p>Сформированы</p>
            </div>
            <div class="column-content">
                @foreach (var item in Model.Where(m => m.TaskStatusId == 1))
                {
                    <div id="@item.Id" class="mb-2 card card-s">
                        <dl class="row mx-2 mt-3">
                            <dd>
                                <a type="button" title="Редактировать" asp-action="Edit" asp-route-id="@item.Id">
                                    <i class='bx bxs-edit-alt'></i>
                                </a>
                                <a type="button" class="torightside" title="Удалить" href="#" onclick="deleteTask('@item.Id', '@item.TaskName')">
                                    <i class='bx bxs-trash'></i>
                                </a>
                            </dd>
                            <dd>
                                <a asp-action="Details" asp-route-id="@item.Id">@item.TaskName</a>
                            </dd>

                            <dd class="carddtext">
                                <span style="font-weight: 700;">Исполнитель:</span> @UserInfo.GetUserName(item.PerformerId)
                            </dd>
                            <dd class="carddtext">
                                @if (item.ProjectId != null)
                                {
                                    <span style="font-weight: 700;">Проект:</span> @ProjectInfo.GetName(item.ProjectId)
                                }
                                else
                                {
                                    <span>Без проекта</span>
                                }
                            </dd>
                        </dl>
                    </div>
                }
            </div>
        </div>
        <div class="task-column mx-3 d-inline-block task-column-inprocess" style="float: none">
            <div class="column-head">
                <p>Выполняются</p>
            </div>
            <div class="column-content">
                @foreach (var item in Model.Where(m => m.TaskStatusId == 2))
                {
                    <div id="@item.Id" class="mb-2 card card-s">
                        <dl class="row mx-2 mt-3">
                            <dd>
                                <a type="button" title="Редактировать" asp-action="Edit" asp-route-id="@item.Id">
                                    <i class='bx bxs-edit-alt'></i>
                                </a>
                                <a type="button" class="torightside" title="Удалить" href="#" onclick="deleteTask('@item.Id', '@item.TaskName')">
                                    <i class='bx bxs-trash'></i>
                                </a>
                            </dd>
                            <dd>
                                <a asp-action="Details" asp-route-id="@item.Id">@item.TaskName</a>
                            </dd>

                            <dd class="carddtext">
                                <span style="font-weight: 700;">Исполнитель:</span> @UserInfo.GetUserName(item.PerformerId)
                            </dd>
                            <dd class="carddtext">
                                @if (item.ProjectId != null)
                                {
                                    <span style="font-weight: 700;">Проект:</span> @ProjectInfo.GetName(item.ProjectId)
                                }
                                else
                                {
                                    <span>Без проекта</span>
                                }
                            </dd>
                        </dl>
                    </div>
                }
            </div>
        </div>
        <div class="task-column mx-3 d-inline-block task-column-waitforcheck">
            <div class="column-head">
                <p>Ожидают проверки</p>
            </div>
            <div class="column-content">
                @foreach (var item in Model.Where(m => m.TaskStatusId == 3))
                {
                    <div id="@item.Id" class="mb-2 card card-s ">
                        <dl class="row mx-2 mt-3">
                            <dd>
                                <a type="button" title="Редактировать" asp-action="Edit" asp-route-id="@item.Id">
                                    <i class='bx bxs-edit-alt'></i>
                                </a>
                                <a type="button" class="torightside" title="Удалить" href="#" onclick="deleteTask('@item.Id', '@item.TaskName')">
                                    <i class='bx bxs-trash'></i>
                                </a>
                            </dd>
                            <dd>
                                <a asp-action="Details" asp-route-id="@item.Id">@item.TaskName</a>
                            </dd>

                            <dd class="carddtext">
                                <span style="font-weight: 700;">Исполнитель:</span> @UserInfo.GetUserName(item.PerformerId)
                            </dd>
                            <dd class="carddtext">
                                @if (item.ProjectId != null)
                                {
                                    <span style="font-weight: 700;">Проект:</span> @ProjectInfo.GetName(item.ProjectId)
                                }
                                else
                                {
                                    <span>Без проекта</span>
                                }
                            </dd>
                        </dl>
                    </div>
                }
            </div>
        </div>
        <div class="task-column mx-3 d-inline-block task-column-ended">
            <div class="column-head">
                <p>Завершены</p>
            </div>
            <div class="column-content">
                @foreach (var item in Model.Where(m => m.TaskStatusId == 4))
                {
                    <div id="@item.Id" class="mb-2 card card-s">
                        <dl class="row mx-2 mt-3">
                            <dd>
                                <a type="button" title="Редактировать" asp-action="Edit" asp-route-id="@item.Id">
                                    <i class='bx bxs-edit-alt'></i>
                                </a>
                                <a type="button" class="torightside" title="Удалить" href="#" onclick="deleteTask('@item.Id', '@item.TaskName')">
                                    <i class='bx bxs-trash'></i>
                                </a>
                            </dd>
                            <dd>
                                <a asp-action="Details" asp-route-id="@item.Id">@item.TaskName</a>
                            </dd>

                            <dd class="carddtext">
                                <span style="font-weight: 700;">Исполнитель:</span> @UserInfo.GetUserName(item.PerformerId)
                            </dd>
                            <dd class="carddtext">
                                @if (item.ProjectId != null)
                                {
                                    <span style="font-weight: 700;">Проект:</span> @ProjectInfo.GetName(item.ProjectId)
                                }
                                else
                                {
                                    <span>Без проекта</span>
                                }
                            </dd>
                        </dl>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        checkWindow();
        function checkWindow() {
            if (window.innerWidth < 1006) {
                document.getElementById("cards-cont").style.cssText = 'white-space: nowrap; overflow-x: auto;';
            }
            else {
                document.getElementById("cards-cont").style.cssText = 'overflow-x: auto;';
            }
        }

        window.onresize = checkWindow;

        function deleteTask(id, name) {
            if (confirm('Вы хотите удалить задачу "' + name + '"?')) {

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteConfirmed", "Tasks")',
                    data: {
                        __RequestVerificationToken: gettoken(),
                        id: id
                    },
                    success: function (result) {
                        $('#' + id).remove();
                    }
                });
            }
        }

        //1625
        function gettoken() {
            let token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
        }

    </script>
}