@using WorkTime.Web.Services
@inject UserInformation UserInfo
@inject ProjectInformation ProjectInfo
@model IEnumerable<WorkTime.Models.WorkTask>

<h1>Задачи</h1>

<p>
    <a type="button" class="btn btn-primary" asp-action="Create">Создать задачу</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Название задачи
            </th>
            <td>
                Исполнитель
            </td>
            <th>
                Статус задачи
            </th>
            <th>
                Проект
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @UserInfo.GetName(item.PerformerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskStatus.Name)
            </td>
            <td>
                    @ProjectInfo.GetName(item.ProjectId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
