@using WorkTime.Web.Services
@inject UserInformation UserInfo
@inject ProjectInformation ProjectInfo
@model IEnumerable<WorkTime.Models.WorkTask>

<h1>Задачи</h1>

<p>
    <a type="button" class="btn btn-primary" asp-action="Create">Создать задачу</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Название задачи
            </th>
            <td>
                Исполнитель
            </td>
            <th>
                Статус задачи
            </th>
            <th>
                Проект
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.TaskName)
                </td>
                <td>
                    @UserInfo.GetName(item.PerformerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskStatus.Name)
                </td>
                <td>
                    @ProjectInfo.GetName(item.ProjectId)
                </td>
                <td>
                    <a type="button" title="Редактировать" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil"></i></a> |
                    <a type="button" title="Информация о задаче" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-book"></i></a> |
                    <a type="button" title="Удалить" onclick="deleteTask('@item.Id', '@item.TaskName')" href="#"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>

        function deleteTask(id, name) {
            if (confirm('Вы хотите удалить задачу "' + name + '"?')) {

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteConfirmed", "Tasks")',
                    data: {
                        __RequestVerificationToken: gettoken(),
                        id: id
                    },
                    success: function (result) {
                        $('#' + id).remove();
                    }
                });
            }
        }

        function gettoken() {
            let token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
        }

    </script>
}