@using WorkTime.Web.Services
@inject UserInformation UserInfo
@model WorkTime.Models.Invoice

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Дата
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            Часов отработао
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoursWorked)
        </dd>
        <dt class = "col-sm-2">
            Почасовая оплата
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HourlyWage)
        </dd>
        <dt class = "col-sm-2">
            Сумма по часам
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SumByHours)
        </dd>
        <dt class = "col-sm-2">
            Бонус
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bonus)
        </dd>
        <dt class = "col-sm-2">
            Итого
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            Выдано
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Issued)
        </dd>
        <dt class = "col-sm-2">
            Остаток
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remainder)
        </dd>
        <dt class = "col-sm-2">
            Долг
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Debt)
        </dd>
        <dt class = "col-sm-2">
            Остаток с учётом долга и бонуса
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemWdebtAndBonus)
        </dd>
        <dt class = "col-sm-2">
            Итоговая сумма с учётом налога
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SumWithTax)
        </dd>
        <dt class = "col-sm-2">
            Статус оплаты
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentState.Name)
        </dd>
        <dt class = "col-sm-2">
            Проект
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <dt class = "col-sm-2">
            Работник
        </dt>
        <dd class = "col-sm-10">
            @UserInfo.GetName(Model.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
