@model IEnumerable<WorkTime.Models.Invoice>
@using WorkTime.Web.Services
@inject UserInformation UserInfo
@inject ProjectInformation ProjectInfo

@{
    ViewData["Title"] = "Счета";
}



<h1>Счета</h1>

@if (ViewBag.Project != null)
{
    <p>В проекте @ViewBag.Project.Name</p>
}

<p>
    <a type="button" class="btn btn-primary" asp-action="Create">Создать счёт</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Сотрудник
            </th>
            @if (ViewBag.Project == null)
            {
                <th>
                    Проект
                </th>
            }
            <th>
                Дата создания
            </th>
            <th>
                Сумма к оплате
            </th>
            <th>
                Статус оплаты
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @UserInfo.GetName(item.User.Id)
                </td>
                <td>
                    @if (item.ProjectId != null)
                    {
                        @ProjectInfo.GetName(item.ProjectId)
                    }
                    else
                    {
                        <p>Без проекта</p>
                    }
                </td>
                <td>
                    @item.Date?.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SumWithTax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentState.Name)
                </td>

                <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Manager") || User.IsInRole("Bookkeeper"))
                    {
                        <a type="button" title="Редактировать" asp-action="Edit" asp-route-id="@item.Id">
                            <i class='bx bxs-edit-alt'></i>
                        </a>
                        <b>|</b>
                        <a type="button" title="Информация о счёте" asp-action="Details" asp-route-id="@item.Id">
                            <i class='bx bxs-detail'></i>
                        </a>
                        <b>|</b>
                        <a type="button" title="Удалить" href="#" onclick="deleteInvoice('@item.Id', '@item.Id')">
                            <i class='bx bxs-trash'></i>
                        </a>
                        <b>|</b>
                        <a type="button" title="Скачать все файлы" asp-action="GetInvoiceFiles" asp-route-id="@item.Id">
                            <i class='fa fa-download'></i>
                        </a>
                        <b>|</b>
                    }
                    <a type="button" asp-action="UploadFile" asp-route-id="@item.Id"><i class='fa fa-upload'></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>


        function deleteInvoice(id, name) {
            if (confirm('Вы хотите удалить счёт ' + name + '?')) {

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteConfirmed", "Invoices")',
                    data: {
                        __RequestVerificationToken: gettoken(),
                        id: id
                    },
                    success: function (result) {
                        $('#' + id).remove();
                    }
                });
            }
        }

        function gettoken() {
            let token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
        }

    </script>
}