@model IEnumerable<WorkTime.Models.Invoice>
@using WorkTime.Web.Services
@inject UserInformation UserInfo

@{
    ViewData["Title"] = "Счета";
}



<h1>Счета</h1>

@if (ViewBag.Project != null)
{
    <p>В проекте @ViewBag.Project.Name</p>
}

<p>
    <a type="button" class="btn btn-primary" asp-action="Create">Создать счёт</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Дата
            </th>
            <th>
                Кол-во часов
            </th>
            <th>
                Почасовая оплата
            </th>
            <th>
                Сумма по часам
            </th>
            <th>
                Бонус
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issued)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remainder)
            </th>
            <th>
                Долг
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemWdebtAndBonus)
            </th>
            <th>
                Сумма с налогом
            </th>
            <th>
                Статус оплаты
            </th>
            @if (ViewBag.Project == null)
            {
                <th>
                    Проект
                </th>
            }
            <th>
                Работник
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Date.Value.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoursWorked)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HourlyWage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SumByHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bonus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Issued)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remainder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Debt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RemWdebtAndBonus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SumWithTax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentState.Name)
                </td>
                @if (ViewBag.Project == null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.Name)
                    </td>
                }
                <td>
                    @UserInfo.GetName(item.User.Id)
                </td>
                <td>
                    @if (User.IsInRole("Manager") || User.IsInRole("Manager") || User.IsInRole("Manager"))
                    {
                        <a type="button" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil"></i></a> <b>|</b>
                        <a asp-action="Delete" asp-route-id="@item.Id"> Delete </a> <b>|</b>
                    }
                    <a type="button" asp-action="UploadFile" asp-route-id="@item.Id"><i class="fa fa-pencil"></i></a> <b>|</b>
                </td>
            </tr>
        }
    </tbody>
</table>
