@using WorkTime.Web.Services
@inject UserInformation UserInfo

<link rel="stylesheet" href="/css/objects/yseditor.min.css" />
<div style="
    display: flex;
    margin: 5pt;
">
    <label>Отобразить как HTML разметку</label>
    <label class="switch ms-3">
        <input id="documentCheckBox" type="checkbox"/>
        <span class="sliderSwitch round"></span>
    </label>
</div>

<form method="post" onsubmit="return send();">
    <input hidden name="projectId" value="@ViewBag.Project.Id" />
    <div id="yseditor" style="width: 297mm">
        <p class=MsoNormal align=center style='text-align:center'>
            <b>
                <span style='font-size:12.0pt'>
                    ДОГОВОР № <span id="contractNumber">НОМЕРДОГОВОРА</span><o:p></o:p>
                </span>
            </b>
        </p>
        <p class=MsoNormal align=center style='text-align:center'>
            <b>
                <span style='font-size:12.0pt'>на оказание услуг<o:p></o:p></span>
            </b>
        </p>
        <p class=MsoNormal align=center style='text-align:center'>
            <b>
                <span style='font-size:12.0pt'><o:p>&nbsp;</o:p></span>
            </b>
        </p>
        <p class=MsoNormal align=center style='text-align:center'>
            <b>
                <span style='font-size:12.0pt'><o:p>&nbsp;</o:p></span>
            </b>
        </p>
        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:12.0pt'>
                г. Екатеринбург
                <o:p></o:p>
            </span>
            <span id="date">ДАТА</span>
        </p>
        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:12.0pt'>
                <o:p>&nbsp;</o:p>
            </span>
        </p>
        <p class=MsoNormal style='text-align:justify'>
                @if (ViewBag.Project.CustomerCompanyId == null)
                {
                    <b><span style='font-size:12.0pt'> ИП @UserInfo.GetUserFullName(ViewBag.Project.CustomerPersonId) </span></b>
                    <span style='font-size:12.0pt'>, именуемый в дальнейшем «Заказчик», с одной стороны</span>
                }
                else
                {
                    <b><span style='font-size:12.0pt'> Общество с ограниченной ответственностью @ViewBag.Company.Name</span></b>
                <span style='font-size:12.0pt'>, именуемое в дальнейшем «Заказчик», в лице @ViewBag.Project.CustomerPersonPostInCompany @UserInfo.GetUserFullName(ViewBag.Project.CustomerPersonId) с одной стороны</span>
                }
            <span style='font-size:12.0pt'>
                , и <o:p></o:p>
            </span>
        </p>
        <p class=MsoNormal id="performerData" style='text-align:justify'>
            <span style='font-size:12.0pt'>
                гражданин
                <b id="performerFullName">
                    ФИОИСПОЛНИТЕЛЯ
                </b>
                , являющийся плательщиком налога на профессиональный доход, именуемый в дальнейшем «Исполнитель»,
                заключили настоящий договор о нижеследующем:
            </span>
        </p>
        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:12.0pt'>
                <o:p>&nbsp;</o:p>
            </span>
        </p>
        <p class=MsoNormal align=center style='margin-left:0cm;text-align:center; text-indent:18.0pt'>
            <b>
                <span style='font-size:12.0pt'>
                    <span>
                        1.
                        <span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span>
            </b>
            <b>
                <span style='font-size:12.0pt'>ПРЕДМЕТ ДОГОВОРА.<o:p></o:p></span>
            </b>
        </p>
        <p class=MsoNormal>
            <b>
                <span style='font-size:12.0pt'>
                    <o:p>&nbsp;</o:p>
                </span>
            </b>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>
            <b>
                <span style='font-size:12.0pt'>
                    <span>1.1.</span>
                </span>
            </b>
            <span style='font-size:12.0pt'>
                Заказчик поручает, а Исполнитель принимает на себя оказание платных услуг:<o:p></o:p>
            </span>
        </p>
        <p class=MsoNormal style='text-align:justify'>
            <b>
                <span style='font-size:12.0pt'>
                    осуществление разработки и технической поддержки информационного ресурса, расположенного по адресу
                </span>
            </b>
            <a href="https://100tz.ru/">
                <span class=->
                    <b>
                        <span style='font-size:12.0pt;color:windowtext; text-decoration:none'>
                            https://100tz.ru
                        </span>
                    </b>
                </span>
            </a>
            <span class=->
                <b>
                    <span style='font-size:12.0pt; color:windowtext;text-decoration:none'>
                        (
                    </span>
                </b>
            </span>
            <a href="http://www.100ТЗ.РФ">
                <span class=->
                    <b>
                        <span lang=EN-US style='font-size:12.0pt;color:windowtext; text-decoration:none'>
                            www
                        </span>
                    </b>
                </span>
                <span class=->
                    <b>
                        <span style='font-size:12.0pt;color:windowtext; text-decoration:none'>
                            .100ТЗ.РФ
                        </span>
                    </b>
                </span>
            </a>
            <span class=->
                <b>
                    <span style='font-size:12.0pt; color:windowtext;text-decoration:none'>
                        )
                    </span>
                </b>
            </span>
            <span class=->
                <span style='font-size:12.0pt;color:windowtext;text-decoration:none'>
                    (далее – «Платформа»).
                </span>
            </span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>
            <span class=->
                <b>
                    <span style='font-size:12.0pt;color:windowtext;text-decoration: none'>
                        <span>
                            1.2.
                        </span>
                    </span>
                </b>
            </span>
            <span class=->
                <span style='font-size:12.0pt;color:windowtext;text-decoration:none'>
                    Услуги оказываются на постоянной основе. Конкретный объем услуг, периодичность и продолжительность их оказания
                    <span>  </span>
                    согласовываются в переписке по электронной почте, мессенджерах, системах постановки задач и т.п. Заказчик вправе устанавливать регламенты работы Исполнителя, включающие в себя сроки, последовательность совершения отдельных действий и т.п.<o:p></o:p>
                </span>
            </span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>
            <span class=->
                <b>
                    <span style='font-size:12.0pt;color:windowtext;text-decoration:none'>
                        <span>
                            1.3.
                        </span>
                    </span>
                </b>
            </span>
            <span class=->
                <span style='font-size:12.0pt;color:windowtext;text-decoration:none'>
                    Учет задач осуществляется с использованием программы по управлению проектами
                </span>
            </span>
            <span style='font-size:12.0pt'>
                Trello. Обсуждение текущих задач производится с использованием программы
            </span>
            <span lang=EN-US style='font-size:12.0pt'>
                Telegram
            </span>
            <span lang=EN-US style='font-size:12.0pt'> </span>
            <span style='font-size:12.0pt'>или </span>
            <span lang=EN-US style='font-size:12.0pt'>
                Skype
            </span>
            <span style='font-size:12.0pt'>
                .
            </span>
            <span class=->
                <span style='font-size:12.0pt;color:windowtext;text-decoration:none'>
                    <o:p></o:p>
                </span>
            </span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>
            <b>
                <span style='font-size:12.0pt'>
                    <span>1.4.</span>
                </span>
            </b>
            <span style='font-size:12.0pt'>
                Услуги оказываются дистанционно с использованием сети Интернет.
                <b>
                    <o:p></o:p>
                </b>
            </span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt'>
            <b>
                <span style='font-size:12.0pt'>
                    <o:p>&nbsp;</o:p>
                </span>
            </b>
        </p>
        <p class=MsoNormal align=center style='margin-left:18.0pt;text-align:center; text-indent:-18.0pt'>

            <b>
                <span style='font-size:12.0pt'>
                    <span>
                        2.
                        <span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        </span>
                    </span>
                </span>
            </b>
            <b>
                <span style='font-size:12.0pt'>
                    ПРАВА И ОБЯЗАННОСТИ СТОРОН<o:p></o:p>
                </span>
            </b>
        </p>
        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:12.0pt'>
                <o:p>&nbsp;</o:p>
            </span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>

            <b>
                <span style='font-size:12.0pt'>
                    <span>2.1.</span>
                </span>
            </b>
            <span style='font-size:12.0pt'>
                Заказчик обязуется:<o:p></o:p>
            </span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>

            <span style='font-size:12.0pt;font-family:OpenSymbol'>
                <span>
                    -
                    <span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;
                    </span>
                </span>
            </span>
            <span style='font-size:12.0pt'>
                по требованию Исполнителя предоставить ему все необходимые для оказания услуг сведения, документы и материалы;<o:p></o:p>
            </span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>

            <span style='font-size:12.0pt;font-family:OpenSymbol'>
                <span>
                    -
                    <span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;
                    </span>
                </span>
            </span>
            <span style='font-size:12.0pt'>
                незамедлительно рассматривать все поступившие от
                Исполнителя документы по вопросам, связанным с исполнением настоящего договора
                и давать ответ в трехдневный срок с момента поступления обращения Исполнителя в
                письменной форме;<o:p></o:p>
            </span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>

            <span style='font-size:12.0pt;font-family:OpenSymbol'>
                <span>
                    -
                    <span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;
                    </span>
                </span>
            </span>
            <span style='font-size:12.0pt'>
                оплачивать услуги в порядке и размере, определяемом в соответствии с настоящим договором.<o:p></o:p>
            </span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>

            <b>
                <span style='font-size:12.0pt'>
                    <span>2.2.</span>
                </span>
            </b>
            <span style='font-size:12.0pt'>Исполнитель обязуется:<o:p></o:p></span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>

            <span style='font-size:12.0pt;font-family:OpenSymbol'>
                <span>
                    -
                    <span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;
                    </span>
                </span>
            </span>
            <span style='font-size:12.0pt'>
                исполнять данное ему поручение в соответствии с требованиями Заказчика;<o:p></o:p>
            </span>
        </p>
        <p style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>

            <span style='font-family:OpenSymbol'>
                <span>
                    -
                    <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span>
                </span>
            </span>оказывать услуги квалифицированно, оперативно и с надлежащим качеством;
        </p>
        <p style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>

            <span style='font-family:OpenSymbol'>
                <span>
                    -
                    <span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;
                    </span>
                </span>
            </span>оказывать услуги лично, а так же при необходимости с привлечением третьих лиц;
            <span> </span>
        </p>
        <p style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>

            <span style='font-family:OpenSymbol'>
                <span>
                    -
                    <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;</span>
                </span>
            </span>
            соблюдать конфиденциальность при исполнении им
            своих обязательств, не раскрывать перед третьими лицами сведения, полученные в
            ходе оказания им услуг, если это не требуется для оказания услуг;
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>

            <span style='font-size:12.0pt;font-family:OpenSymbol'>
                <span>
                    -
                    <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span>
                </span>
            </span>
            <span style='font-size:12.0pt'>
                незамедлительно рассматривать все поступившие от
                Заказчика документы по вопросам, связанным с исполнением настоящего договора и
                давать ответ в трехдневный срок с момента поступления обращения Исполнителя в
                письменной форме.<o:p></o:p>
            </span>
        </p>
        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:12.0pt'><o:p>&nbsp;</o:p></span>
        </p>
        <p class=MsoNormal align=center style='margin-left:18.0pt;text-align:center;text-indent:-18.0pt'>

            <b>
                <span style='font-size:12.0pt'>
                    <span>
                        3.
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </span>
                </span>
            </b>
            <b>
                <span style='font-size:12.0pt'>СТОИМОСТЬ УСЛУГ И ПОРЯДОК РАСЧЕТОВ<o:p></o:p></span>
            </b>
        </p>
        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:12.0pt'><o:p>&nbsp;</o:p></span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>

            <b>
                <span style='font-size:12.0pt'>
                    <span>3.1.</span>
                </span>
            </b>
            <span style='font-size:12.0pt'>
                Услуги оплачиваются по результатам работ на основании счета исполнителя
                <b> </b>(НДС не предусмотрен). <o:p></o:p>
            </span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>

            <b>
                <span style='font-size:12.0pt'>
                    <span>3.2.</span>
                </span>
            </b>
            <span style='font-size:12.0pt'>
                Услуги оплачиваются в рублях Российской Федерации
                безналичном порядке путем перечисления средств на счет Исполнителя по
                реквизитам, указанным в договоре. <o:p></o:p>
            </span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>

            <b>
                <span style='font-size:12.0pt'>
                    <span>3.3.</span>
                </span>
            </b>
            <span style='font-size:12.0pt'>
                Учет проделанной работы Исполнителя осуществляется
                согласно задачам Исполнителя в программе
                <b>Trello</b>
                <span>
                    .
                </span><o:p></o:p>
            </span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>

            <b>
                <span style='font-size:12.0pt'>
                    <span>3.4.</span>
                </span>
            </b>
            <span style='font-size:12.0pt'>
                Срок оплаты: в течение 3 календарных дней после выставления
                счета Исполнителем.<o:p></o:p>
            </span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>

            <b>
                <span style='font-size:12.0pt'>
                    <span>3.5.</span>
                </span>
            </b>
            <span style='font-size:12.0pt'>
                Все расходы, связные с оказанием услуг, несет
                Исполнитель, если стороны не оговорили
                <span> </span>иное.<o:p></o:p>
            </span>
        </p>
        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:12.0pt'><o:p>&nbsp;</o:p></span>
        </p>
        <p class=MsoNormal align=center style='margin-left:18.0pt;text-align:center;text-indent:-18.0pt'>

            <b>
                <span style='font-size:12.0pt'>
                    <span>
                        4.
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </span>
                </span>
            </b>
            <b>
                <span style='font-size:12.0pt'>ПОРЯДОК СДАЧИ И ПРИЕМКИ УСЛУГ<o:p></o:p></span>
            </b>
        </p>
        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:12.0pt'><o:p>&nbsp;</o:p></span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>

            <b>
                <span style='font-size:12.0pt'>
                    <span>4.1.</span>
                </span>
            </b>
            <span style='font-size:12.0pt'>По факту оказания услуги может составляться двусторонний акт приемки-сдачи.<o:p></o:p></span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>

            <b>
                <span style='font-size:12.0pt'>
                    <span>4.2.</span>
                </span>
            </b>
            <span style='font-size:12.0pt'>
                В случае составления акта Заказчик обязан рассмотреть
                акт, составленный Исполнителем, и в трехдневный срок с момента его поступления
                подписать или направить Исполнителю мотивированный отказ. <o:p></o:p>
            </span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>

            <b>
                <span style='font-size:12.0pt'>
                    <span>4.3.</span>
                </span>
            </b>
            <span style='font-size:12.0pt'>
                В случае мотивированного отказа от подписания акта,
                сторонами составляется двусторонний акт с перечнем необходимых доработок,
                сроков их выполнения.<o:p></o:p>
            </span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>

            <b>
                <span style='font-size:12.0pt'>
                    <span>4.4.</span>
                </span>
            </b>
            <span style='font-size:12.0pt'>
                Факт оплаты услуг Исполнителя подтверждает принятие
                его услуг Заказчиком, составление акта сдачи-приемки услуг при этом не
                обязательно.<o:p></o:p>
            </span>
        </p>
        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:12.0pt'><o:p>&nbsp;</o:p></span>
        </p>
        <p class=MsoNormal align=center style='margin-left:18.0pt;text-align:center;text-indent:-18.0pt'>

            <b>
                <span style='font-size:12.0pt'>
                    <span>
                        5.
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </span>
                </span>
            </b>
            <b>
                <span style='font-size:12.0pt'>СРОК ДЕЙСТВИЯ ДОГОВОРА<o:p></o:p></span>
            </b>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify'>
            <span style='font-size:12.0pt'><o:p>&nbsp;</o:p></span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>

            <b>
                <span style='font-size:12.0pt'>
                    <span>5.1.</span>
                </span>
            </b>
            <span style='font-size:12.0pt'>
                Договор является заключенным с момента его подписания
                сторонами и заключен на неопределенный срок. Каждая из сторон вправе
                расторгнуть договор в одностороннем порядке путем уведомления второй стороны за
                30 дней до даты расторжения.<o:p></o:p>
            </span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify'>
            <span style='font-size:12.0pt'><o:p>&nbsp;</o:p></span>
        </p>
        <p class=MsoNormal align=center style='margin-left:18.0pt;text-align:center;text-indent:-18.0pt'>

            <b>
                <span style='font-size:12.0pt'>
                    <span>
                        6.<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span>
            </b>
            <b>
                <span style='font-size:12.0pt'>ПРОЧИЕ УСЛОВИЯ<o:p></o:p></span>
            </b>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify'>
            <span style='font-size:12.0pt'><o:p>&nbsp;</o:p></span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>

            <b>
                <span style='font-size:12.0pt'>
                    <span>6.1.</span>
                </span>
            </b>
            <span style='font-size:12.0pt'>
                Стороны согласовали подписание настоящего договора,
                актов, запросов, претензий и иных документов путем обмена сканами (п.2 ст. 434
                Гражданского кодекса РФ). Взаимодействие в рамках настоящего договора
                осуществляется путем электронного документооборота. <o:p></o:p>
            </span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>

            <b>
                <span style='font-size:12.0pt'>
                    <span>6.2.</span>
                </span>
            </b>
            <b>
                <span style='font-size:12.0pt'>
                    Контактные
                    данные сторон для электронного документооборота
                </span>
            </b>
            <span style='font-size:12.0pt'>:<o:p></o:p></span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify'>
            <b>
                <span style='font-size:12.0pt'>Заказчик: <o:p></o:p></span>
            </b>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify'>
            <span style='font-size:12.0pt'>Телефон: <span id="customerPhone">@ViewBag.Project.CustomerPersonId</span><o:p></o:p></span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify'>
            <span style='font-size:12.0pt'>Электронная почта: </span>
            <span class=ListLabel12>
                <span style='font-size:12.0pt;color:windowtext;text-decoration:none'>ПОЧТАЗАКАЗЧИКА</span>
            </span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify'>
            <span style='font-size:12.0pt'>СОЦСЕТЬЗАКАЗЧИКА<o:p></o:p></span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify'>
            <b>
                <span style='font-size:12.0pt'>Исполнитель: <o:p></o:p></span>
            </b>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify'>
            <span style='font-size:12.0pt'>Телефон: <span id="performerPhone">ТЕЛЕФОНИСПОЛНИТЕЛЯ</span><o:p></o:p></span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify'>
            <span style='font-size:12.0pt'>Электронная почта: </span>
            <span style="font-size:12.0pt" id="performerEmail">ПОЧТАИСПОЛНИТЕЛЯ</span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify'>
            <span lang=EN-US style='font-size:12.0pt' id="performerSocialNetworkContract">СОЦСЕТЬИСПОЛНИТЕЛЯ</span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>

            <b>
                <span style='font-size:12.0pt'>
                    <span>6.3.</span>
                </span>
            </b>
            <span style='font-size:12.0pt'>
                Ни одна из сторон не может передавать свои права по
                настоящему договору третьей стороне без согласия контрагента.<o:p></o:p>
            </span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>

            <b>
                <span style='font-size:12.0pt'>
                    <span>6.4.</span>
                </span>
            </b>
            <span style='font-size:12.0pt'>
                Настоящий договор не является трудовым договором и
                заключен в соответствии с гражданским законодательством Российской Федерации.<o:p></o:p>
            </span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>

            <b>
                <span style='font-size:12.0pt'>
                    <span>6.5.</span>
                </span>
            </b>
            <span style='font-size:12.0pt'>
                Споры и разногласия, возникающие между сторонами по
                настоящему договору, разрешаются путем переговоров между сторонами. В случае
                невозможности разрешения разногласий путем переговоров они подлежат рассмотрению
                по месту нахождения Заказчика.<o:p></o:p>
            </span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>

            <b>
                <span style='font-size:12.0pt'>
                    <span>6.6.</span>
                </span>
            </b>
            <span style='font-size:12.0pt'>
                При заключении и исполнении настоящего договора
                стороны руководствуются законодательством Российской Федерации.<o:p></o:p>
            </span>
        </p>
        <p class=MsoNormal style='margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'>

            <b>
                <span style='font-size:12.0pt'>
                    <span>6.7.</span>
                </span>
            </b>
            <span style='font-size:12.0pt'>
                Любые изменения и дополнения к настоящему договору
                имеют силу только в том случае, если они оформлены в письменном виде и
                подписаны обеими сторонами в порядке, установленном настоящим договором.<o:p></o:p>
            </span>
        </p>
        <p class=MsoNormal style='text-align:justify'>
            <b><span style='font-size:12.0pt'><o:p>&nbsp;</o:p></span></b>
        </p>
        <p class=MsoNormal style='text-align:justify'>
            <b>
                <span style='font-size:12.0pt'>
                    РЕКВИЗИТЫ И
                    ПОДПИСИ СТОРОН:<o:p></o:p>
                </span>
            </b>
        </p>
        <p class=MsoNormal style='text-align:justify'>
            <b><span style='font-size:12.0pt'><o:p>&nbsp;</o:p></span></b>
        </p>
        <p class=MsoNormal style='text-align:justify'>
            <b><span style='font-size:12.0pt'>Заказчик: <o:p></o:p></span></b>
        </p>
            @if (ViewBag.Project.CustomerCompanyId == null)
            {
                <p>
                    <b>
                        Индивидуальный предприниматель
                        @UserInfo.GetUserFullName(ViewBag.Project.CustomerPersonId)<o:p></o:p>
                    </b>
                </p>

                <p>
                Адрес: @ViewBag.UserInfo.PersonalAddress
                </p>

            <p>ИНН: @ViewBag.UserInfo.INN</p>

            <p>Счёт: @ViewBag.BankInfo.BankAccount </p>

            <p>Банк: @ViewBag.BankInfo.BankName </p>

            <p>Город:  @ViewBag.BankInfo.BankLocation </p>

            <p>БИК @ViewBag.BankInfo.Bik Корр. Счёт @ViewBag.BankInfo.CorInv</p>
            }
            else
            {
                <p>
                    <b>
                        Общество с ограниченной ответственностью @ViewBag.Company.Name
                    </b>
                </p>

                <p>Адрес: @ViewBag.Company.CompanyPlace</p>

                <p>Счёт: @ViewBag.BankInfo.BankAccount</p>

                <p>Банк: @ViewBag.BankInfo.BankName</p>

                <p>Город:  @ViewBag.BankInfo.BankLocation</p>

                <p>БИК @ViewBag.BankInfo.Bik Корр. Счёт @ViewBag.BankInfo.CorInv</p>
            }

        <p class=MsoNormal style='text-align:justify'>
            <b><span style='font-size:12.0pt'><o:p>&nbsp;</o:p></span></b>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:12.0pt'>
                <span>                                                                                    </span><b>_________________</b><span>  </span>А.Ю. Данилин<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <b><span style='font-size:12.0pt'><o:p>&nbsp;</o:p></span></b>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <b>
                <span style='font-size:12.0pt'>
                    Исполнитель:
                </span>
            </b>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:12.0pt'>
                <span id="performerFullName">ИМЯИСПОЛНИТЕЛЯ</span><br>
                ИНН <span id="performerINN">ИННИСПОЛНИТЕЛЯ</span>
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:12.0pt'>Паспорт серии <span id="performerPassNum">СЕРИЯПАСПОРТАИСПОЛНИТЕЛЯ</span></span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:12.0pt'>
                выдан <span id="performerPassGived">КЕМВЫДАНПАСПОРТАИСПОЛНИТЕЛЯ</span>
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:12.0pt'>
                Адрес места регистрации:<br>
                <span id="performerAddres">АДРЕСИСПОЛНИТЕЛЯ</span>
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:12.0pt'>Номер счета: <span id="performerBankAccount">НОМЕРСЧЁТАИСПОЛНИТЕЛЯ</span></span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:12.0pt'>Банк получателя: <span id="performerBankName">НАЗВАНИЕБАНКАИСПОЛНИТЕЛЯ</span></span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:12.0pt'>БИК: <span id="performerBIK">БИКИСПОЛНИТЕЛЯ</span></span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <span style='font-size:12.0pt'>
                Корр. счет: <span id="performerCorrAcc">КОРСЧЕТИСПОЛНИТЕЛЯ</span>
            </span>
        </p>

        <p class=MsoNormal style='text-align:justify'>
            <b>
                <span style='font-size:12.0pt'>
                    <span>                                                                                    </span>
                </span>
            </b><span style='font-size:12.0pt'>
                _________________ <span> </span><span id="performerFullName">ИМЯИСПОЛНИТЕЛЯ</span>
            </span>
            <b>
                <span style='font-size:12.0pt'><o:p></o:p></span>
            </b>
        </p>
    </div>
    <input type="hidden" name="htmlCode" id="htmlCode" />
    <input type="submit" />
</form>
@section Scripts {

    <script src="/js/yseditor.min.js"></script>

    <script>
        var myEditor = new ysEditor();

        myEditor.init({
            height: 700,
            scroll: true,
            footer: false
        });

        //document.querySelector(".yseditor-content").addClass('px-5');
        //document.querySelector(".yseditor-content").addClass('py-5');

        const checkDoc = document.getElementById('documentCheckBox');

        checkDoc.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                let docHtml = myEditor.getHTML();
                myEditor.setText(docHtml);
            } else {
                myEditor.setHTML(myEditor.getText());
            }
        })

        function send() {
            if (checkDoc.checked){
                document.getElementById("htmlCode").value = myEditor.getText();
            } else {
                document.getElementById("htmlCode").value = myEditor.getHTML();
            }

            return true;
        };
    </script>

}