@using WorkTime.Web.Services
@inject UserInformation UserInfo

<link rel="stylesheet" href="/css/objects/yseditor.min.css" />

<form method="post" onsubmit="return send();">
    <input hidden name="contractId" value="@ViewBag.Contract.Id"/>
    <div id="yseditor" style="width: 297mm">
        @ViewBag.Template
    </div>
    <input type="hidden" name="htmlCode" id="hidden" />
    <input type="submit" />
</form>
@section Scripts {

    <script src="/js/yseditor.min.js"></script>

    <script>
        var myEditor = new ysEditor();

        /* \|/ айдишники полей для заполнения
        performerFullName
        performerCorrAcc
        performerBIK
        performerBankName
        performerBankAccount
        performerAddres
        performerPassGived
        performerPassNum
        performerINN

        contractNumber
        date
        performerData
        performerFullName
        performerPhone
        performerEmail
        performerSocialNetworkContract
        */

        document.getElementById("performerFullName").value = "@ViewBag.UserInfo.Surname @ViewBag.UserInfo.Name @ViewBag.UserInfo.Patronymic";
        document.getElementById("performerCorrAcc").value = "@ViewBag.BankInfo.CorInv";
        document.getElementById("performerBIK").value = "@ViewBag.BankInfo.Bik";
        document.getElementById("perfromerBankName").value = "@ViewBag.BankInfo.BankName";
        document.getElementById("performerBankAccount").value = "@ViewBag.BankInfo.BankAccount";
        document.getElementById("performerAddres").value = "@ViewBag.UserInfo.PersonalAddress";
        document.getElementById("performerPassGived").value = "@ViewBag.UserInfo.PassportGived";
        document.getElementById("performerPassNum").value = "@ViewBag.UserInfo.PassportNum";
        document.getElementById("performerINN").value = "@ViewBag.UserInfo.INN";
        document.getElementById("performerPhone").value = "@ViewBag.UserInfo.ContactPhone";
        document.getElementById("performerEmail").value = "@ViewBag.UserInfo.ContactEmail";
        document.getElementById("performerSocialNetworkContract").value = "@ViewBag.UserInfo.SocialNetworkContact";

        myEditor.init({
            height: 700,
            scroll: true,
            footer: false
        });

        document.querySelector(".yseditor-content").addClass('px-5');
        document.querySelector(".yseditor-content").addClass('py-5');

        function send() {
            let contractNumberField = document.querySelector("#contNumbInput");
            contractNumberField.toggleAttribute("hidden");
            document.querySelector("#contNum").textContent = contractNumberField.value;
            document.querySelector("#hidden").value = myEditor.getHTML();
            return true;
        };
    </script>

}