@model IEnumerable<WorkTime.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Проекты</h1>

<p>
    <a type="button" class="btn btn-primary" asp-action="Create">Создать новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bonus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bonus)
                </td>
                <td>
                    <a type="button" title="Редактировать" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil"></i></a> |
                    <a type="button" title="Список пользователей в проекте" asp-action="UsersInProject" asp-route-id="@item.Id"><i class="fa fa-id-card"></i></a> |
                    <a type="button" title="Информация о проекте" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-book"></i></a> |
                    <a type="button" title="Удалить" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
