@model IEnumerable<WorkTime.Models.Project>

@{
    ViewData["Title"] = "Список проектов";
}
<div class="row">
    <div class="col">
        <h1>Список проектов</h1>

        <p>
            <a type="button" class="btn btn-primary" asp-action="Create">Добавить проект</a>
        </p>
    </div>

    <div class="col-4">
        <table>
            <thead>
                <tr>
                    <th>
                        Шаблоны договоров
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var template in ViewBag.EmpTypes)
                {
                    <tr>
                        <td>
                            <a asp-action="EditContractTemplateInProject" asp-route-id="@template.Id">@template.Name</a>
                        </td>
                        <td>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Бонус проекта
            </th>
            <th>
                Сроки проекта
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bonus)
                </td>
                <td>
                    @if (item.EndDate != null)
                    {
                        <table>
                            <tr>
                                <td>
                                    С @item.StartDate.ToShortDateString()
                                </td>
                                <td>
                                    По @item.EndDate?.ToShortDateString()
                                </td>
                            </tr>
                        </table>
                    }
                    else
                    {
                        <p>Бессрочный проект</p>
                    }
                </td>
                <td>
                    <a type="button" title="Редактировать" asp-action="Edit" asp-route-id="@item.Id"><i class='bx bxs-edit'></i></a> |
                    <a type="button" title="Информация о проекте" asp-action="ProjectDetails" asp-route-id="@item.Id"><i class='bx bxs-detail'></i></a> |
                    <a type="button" title="Удалить" onclick="deleteProject('@item.Id', '@item.Name')" href="#"><i class='bx bxs-trash'></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>


        function deleteProject(id, name) {
            if (confirm('Вы хотите удалить проект ' + name + '?')) {

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteConfirmed", "Projects")',
                    data: {
                        __RequestVerificationToken: gettoken(),
                        id: id
                    },
                    success: function (result) {
                        $('#' + id).remove();
                    }
                });
            }
        }

        function gettoken() {
            let token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
        }

    </script>
}