@using WorkTime.Web.Services
@inject UserInformation UserInfo
@model IEnumerable<WorkTime.Models.UserProject>


@{
    ViewData["Title"] = "Детали проекта";
}

<h1>Детали проекта</h1>

<h4>Название: @ViewBag.Project.Name</h4>
<h4>Бонус проекта: @ViewBag.Project.Bonus</h4>
<h4>
    Сроки проекта: @if (ViewBag.Project.EndDate != null)
    {
        <span>С @ViewBag.Project.StartDate.ToShortDateString() по @ViewBag.Project.EndDate.ToShortDateString()</span>
    }
    else
    {
        <span>Бессрочный</span>
    }
</h4>
<br/>
<h4>Список пользователей в проекте</h4>
<p>
    <a type="button" class="btn btn-primary" asp-action="AddUserInProject" asp-route-id="@ViewBag.Project.Id">Добавить пользователя в проект</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ставка
            </th>
            <th>
                Вид занятости
            </th>
            <th>
                Сотрудник
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HourlyWage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpType.Name)
            </td>
            <td>
                @UserInfo.GetName(item.UserId)
            </td>
            <td>
                <a asp-action="" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
