@using WorkTime.Web.Services
@inject UserInformation UserInfo
@model IEnumerable<WorkTime.Models.UserProject>


@{
    ViewData["Title"] = "UsersInProject";
}

<h1>Пользователи в проекте</h1>
<h2>@ViewBag.Project.Name</h2>

<p>
    <a type="button" class="btn btn-primary" asp-action="AddUserInProject" asp-route-id="@ViewBag.Project.Id">Добавить пользователя в проект</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HourlyWage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HourlyWage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpType.Name)
            </td>
            <td>
                @UserInfo.GetName(item.UserId)
            </td>
            <td>
                <a asp-action="" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
