@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@using WorkTime.Web.Services
@inject UserInformation UserInfo

@{
    ViewData["Title"] = "Главная";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="container" id="start-screen-container" style="position: relative">
        @{
            int hour = DateTime.Now.Hour;
            string hi = "";
            if (hour > 5 && hour <= 11)
            {
                hi = "Доброе утро";
            } else if (hour >= 11 && hour <= 16)
            {
                hi = "Добрый день";
            }
            else if (hour >= 17 && hour <= 21) {
                hi = "Добрый вечер";
            } else
            {
                hi = "Доброй ночи";
            }
        }
        <b class="h3 mt-2">@hi, @UserInfo.GetUserName()</b>
        <br>
        <b class="h1 mt-4">Добро пожаловать, снова!</b>
        <div class="row mt-5">
            <div class="w-50 p-0 col">
                <div class="w-100 h-100 p-4 start-screen-card invoices">
                    <img style="height: 115px;" class="float-end" src="~/resources/ruble.svg">
                    <b class="h2 fs-1">За этот месяц <br> Вы заработали</b>
                    <br>
                    <b class="h1 h1 card-text">@UserInfo.GetUserMounthlyMoney()</b> <b class="ps-3 h1 card-text">₽</b>
                    <div>
                        <a class="float-end text-decoration-none btn btn-primary mb-4 invoice-button" href="#"><b class="h4" style="color: #47522c;">Перейти к счетам</b></a>
                        <br>
                    </div>
                
                </div>
            </div>
            <div class="w-50 p-0 ms-4 col">
                <div class="w-100 h-100 p-4 start-screen-card tasks">
                
                    <img class="float-end" src="~/resources/laptop.svg">
                    <b class="h2 fs-1">Для Вас сейчас<br>доступно</b>
                    <br>
                    @{
                        int c = @UserInfo.GetUserCountOfTasks();
                        string task = "задач";
                        if (c == 1)
                            task = "задача";
                        else if (c > 1 && c <= 4)
                            task = "задачи";
                    }
                    <b class="h1 h1 card-text">@c</b><b class="ps-3 h1 card-text">@task</b>
                    <div>
                        <a class="float-end text-decoration-none btn btn-primary mb-4" type="button" href="#"><b class="h4" style="color: #2f425e;">Перейти к задачам</b></a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="h-100 start-screen-card p-4 mt-4 col" style="background-color: #edf3ec;">
                <b class="h2">Статистика заработанных денег из последнего счёта</b>
                <canvas class="h-100 w-100 mt-4 pb-3 pt-2" id="doughnut-chart" width="175"></canvas>
            </div>
            <div class="h-100 start-screen-card p-4 mt-4 ms-4 col-8 " style="background-color: #f1eff0;">
                <b class="h2">Статистика выполненных задач за пол года</b>
                <canvas class="mt-4 pb-3 pt-2" id="line-chart" width="175"></canvas>
            </div>
            
        </div>
    </div>
    @section Scripts {
        <script src="~/js/chart.js"></script>
        <script>
        @{
            var wt = UserInfo.GetUserTasksByMonths();
        }
        Chart.defaults.font.size = 16;
        Chart.defaults.font.weight = 'bold';
        new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
                labels: [@{
                for(int i = 5; i != -1; i--)
                {
                    if (i != 0)
                    {
                        @Html.Raw($"\"{wt[i].month}\", ")
                    }
                    else
                    {
                        @Html.Raw($"\"{wt[i].month}\"")
                    }
                }
            }],
                datasets: [{
                    data: [@wt[5].tasks, @wt[4].tasks, @wt[3].tasks, @wt[2].tasks, @wt[1].tasks, @wt[0].tasks],
                    label: "Количество выполненных задач",
                    borderColor: "#3e95cd",
                    fill: false
                }
                ]
            },
            options: {
                    plugins: {
                        legend: {
                            display: false
                        }
                    }
            }
        });

        new Chart(document.getElementById("doughnut-chart"), {
            type: 'doughnut',
            data: {
                labels: ["Чистая прибыль", "Уплачено налогов", "Премия"],
                datasets: [{
                    data: [10000, 1500, 1000],
                    label: "₽",
                    borderColor: "#3e95cd",
                    fill: false,
                    backgroundColor: [
                      'rgb(255, 99, 132)',
                      'rgb(54, 162, 235)',
                      'rgb(255, 205, 86)'
                    ],  
                }
                ]
            }
        });

        </script>
    }
}
else
{
    <div class="text-center" style="margin-top: 100pt">
        <h1>Добро пожаловать</h1>
        <p>Войдите в систему, или зарегестрируйтесь</p>
        <div>
            <a class="btn btn-outline-primary btn-lg btn-tr transition-2s" role="button" aria-pressed="true" style="width: 220px"
           asp-area="Identity" asp-page="/Account/Login">Войти</a>
            <a class="btn btn-primary btn-lg btn-tr transition-2s" role="button" aria-pressed="true" style="width: 220px"
           asp-area="Identity" asp-page="/Account/Register">Зарегестрироваться</a>
            
        </div>
    </div>
}

