@model IEnumerable<WorkTime.Models.Company>

@{
    ViewData["Title"] = "Список компаний";
}

<h1>Список компаний</h1>

<p>
    <a asp-action="Create">Добавить компанию</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                ФИО директора
            </th>
            <th>
                Расположение компании
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankInfo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectorFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankInfo.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
