@model WorkTime.Models.AspNetUser

@{
    ViewData["Title"] = "Редактирование пользователя";
}

<h1>Редактирование пользователя</h1>

<h4>AspNetUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <h5 class="mt-2">Данные для авторизации</h5>
            <div class="form-floating mt-2">
                <input asp-for="Email" class="form-control" />
                <label asp-for="Email" class="control-label"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <h5 class="mt-2">Рабочая информация</h5>
            <div class="form-floating mt-2">
                <input class="form-control" name="hourlyWage" value="@ViewBag.UserInfo.HourlyWage" />
                <label>Почасовая ставка (по умолчанию)</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input class="form-control" name="contactPhone" value="@ViewBag.UserInfo.ContactPhone" />
                <label>Контактный телефон</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input class="form-control" name="contactEmail" value="@ViewBag.UserInfo.ContactEmail" />
                <label>Контактный Email</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input class="form-control" name="socialNetworkContact" value="@ViewBag.UserInfo.SocialNetworkContact" />
                <label>Контакт в соц. сети</label>
                <span class="text-danger"></span>
            </div>
            <h5 class="mt-2">Персональная информация</h5>
            <div class="form-floating mt-2">
                <input class="form-control" autocomplete="Name" aria-required="true" name="name" value="@ViewBag.UserInfo.Name" />
                <label>Имя</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input class="form-control" autocomplete="Surname" aria-required="true" name="surname" value="@ViewBag.UserInfo.Surname" />
                <label>Фамилия</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input class="form-control" autocomplete="Patronymic" name="patronymic" value="@ViewBag.UserInfo.Patronymic" />
                <label>Отчество</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input class="form-control" name="passportNum" value="@ViewBag.UserInfo.PassportNum" />
                <label>Серия паспорта</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input class="form-control" name="personalAddress" value="@ViewBag.UserInfo.PersonalAddress" />
                <label>Адрес</label>
                <span class="text-danger"></span>
            </div>
            <h5 class="mt-2">Банковские реквизиты</h5>
            <div class="form-floating mt-2">
                <input class="form-control" autocomplete="BankAccount" name="bankAccount" value="@ViewBag.BankInfo.BankAccount" />
                <label>Счёт в банке</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input class="form-control" autocomplete="BankName" name="bankName" value="@ViewBag.BankInfo.BankName" />
                <label>Наименование банка</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input class="form-control" autocomplete="CorInv" name="corInv" value="@ViewBag.BankInfo.CorInv" />
                <label>Корректирующий счёт</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input class="form-control" autocomplete="bik" name="bik" value="@ViewBag.BankInfo.Bik" />
                <label>БИК</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input class="form-control" autocomplete="bankLocation" name="bankLocation" value="@ViewBag.BankInfo.BankLocation" />
                <label>Город</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EmailConfirmed" /> Email подтверждён
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
