@model IEnumerable<WorkTime.Models.AspNetUser>

@{
    ViewData["Title"] = "Список пользователей";
}

<h1>Список пользователей</h1>

<p>
    <a type="button" class="btn btn-primary" asp-action="Create">Создать пользователя</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <a type="button" title="Редактировать" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil"></i></a> |
                    <a type="button" title="Детали" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-exclamation-circle"></i></a> |
                    <a type="button" title="Редактирование ролей" asp-action="UserRole" asp-route-id="@item.Id"><i class="fa fa-cubes"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
